#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=BitTorrent
#s Commande à exécuter lors du clique :
Exec=transmission-gtk
#S Nom ou chemin de l'image :
Icon=transmission
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=0
#E[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
