#!
[Desktop Entry]
#s Launcher's name :
Name=System Monitor
Name[ar]=مراقب النّظام
Name[az]=Sistem İzləyicisi
Name[be]=Сыстэмны манітор
Name[bg]=Наблюдение на системата
Name[bn]=সিস্টেম মনিটর
Name[bn_IN]=System Monitor
Name[bs]=Nadzor sistema
Name[ca]=Monitor del sistema
Name[cs]=Sledování systému
Name[cy]=Arsylwr System
Name[da]=Systemovervågning
Name[de]=Systemüberwachung
Name[dz]=རིམ་ལུགས་ལྟ་རྟོག་པ།
Name[el]=Παρακολούθηση συστήματος
Name[en_CA]=System Monitor
Name[en_GB]=System Monitor
Name[es]=Monitor del sistema
Name[et]=Süsteemijälgija
Name[eu]=Sistemako monitorea
Name[fi]=Järjestelmän valvonta
Name[fr]=Moniteur système
Name[ga]=Monatóir Corais
Name[gl]=Monitor do sistema
Name[gu]=સિસ્ટમ મોનીટર
Name[he]=מנטר המערכת
Name[hi]=तंत्र मॉनीटर
Name[hr]=Stanje baterija
Name[hu]=Rendszerfigyelő
Name[id]=Monitor Sistem
Name[it]=Monitor di sistema
Name[ja]=システム・モニタ
Name[ka]=სისტემის მონიტორი
Name[ko]=시스템 정보
Name[ku]=Temaşekerê Pergalê
Name[li]=Prosesbeheer
Name[lt]=Sistemos monitorius
Name[lv]=Sistēmas pārraugs
Name[mg]=Mpanara-maso ny rafitra
Name[mk]=Надгледувач на системот
Name[ml]=സിസ്റ്റം മോണിറ്റര്‍
Name[mn]=Системийн монитор
Name[mr]=प्रणाली मॉनिटर
Name[ms]=Monitor Sistem
Name[nb]=Systemmonitor
Name[ne]=प्रणाली प्रगतिमापन यन्त्र
Name[nl]=Processenbeheer
Name[nn]=Systemovervakar
Name[or]=ତନ୍ତ୍ର ପ୍ରଦର୍ଶିକା
Name[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
Name[pl]=Monitor systemu
Name[pt]=Monitor de Sistema
Name[pt_BR]=Monitor do Sistema
Name[ro]=Monitorizare sistem
Name[ru]=Системный монитор
Name[sk]=Monitor systému
Name[sl]=Nadzornik sistema
Name[sq]=Monitori i sistemit
Name[sr]=Праћење система
Name[sr@Latn]=Praćenje sistema
Name[sv]=Systemövervakare
Name[ta]=அமைப்புக் கண்காணி
Name[th]=เครื่องมือติดตามทรัพยากรระบบ
Name[tr]=Sistem Gözlemcisi
Name[ug]=سېستىمىنى كۈزىتىش
Name[uk]=Системний монітор
Name[vi]=Bộ theo dõi hệ thống
Name[zh_CN]=系统监视器
Name[zh_HK]=系統監控
Name[zh_TW]=系統監控
#s Exec command :
Exec=gnome-system-monitor
#s Image's name or path :
Icon=utilities-system-monitor
#f Order you want for this launcher among the other launchers :
Order=3
#s Name of the container it belongs to:
Container=_MainDock_
#b Is this icon a container ?
Is container=false
