#!en

[Desktop Entry]
#s Launcher's name :
Name=Transmission
#s Command to launch on click :
#{Exemple : nautilus --no-desktop, gedit, etc. You can even enter a keyboard shortcut, for exemple <Alt>F1 for the Applications Menu, <Ctrl>c or <Ctrl>v to copy or paste, etc}
Exec=transmission 
#S Image's name or path :
Icon=transmission

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.328125
#E[_MainDock_;firefox;Tools;Players;System;Internet;Office;Applet;Design]  Name of the container it belongs to:
Container=Internet
#b Prevent this launcher from stealing appli from taskbar ?
#{Use this option for exemple if the launcher launches a script in a terminal but you don't want it to steal normal terminal's icons from the TaskBar, or if you explicitely want to use the original icon of the TaskBar because it provides some info, for exemple Pidgin's icons represent the avatar of the contact.}
prevent inhibate=false

#s Class of the program :
#{The only reason you may want to modify this parameter is if you made this launcher by hands. If you dropped it into the dock from the menu, it is nearly sure that you shouldn't touch it. It defines the class of the program, which is useful to link the appli with its launcher.}
StartupWMClass=

Is container=false

Renderer=

Base URI=
Is mounting point=false
Encoding=UTF-8
Name[de]=Transmission
Name[es]=Transmission
Name[fi]=Transmission
Name[fr]=Transmission
Name[hu]=Transmission
Name[it]=Transmission
Name[nl]=Transmission
Name[pl]=Transmission
Name[pt]=Transmission
Name[pt_BR]=Transmission
Name[ro]=Transmission
Name[sk]=Transmission
Name[sv]=Transmission
Name[tr]=Tranmission
GenericName=BitTorrent Client
GenericName[de]=BitTorrent-Client
GenericName[es]=Cliente BitTorrent
GenericName[fr]=Client BitTorrent
GenericName[hu]=BitTorrent kliens
GenericName[it]=Client BitTorrent
GenericName[nl]=BitTorrent client
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ru]=BitTorrent клиент
GenericName[sv]=BitTorrent-klient
GenericName[tr]=BitTorrent İstemcisi
GenericName[zh_CN]=BitTorrent 客户端
Comment=Transfer files via Peer to Peer
Comment[de]=Daten via Peer to Peer übertragen
Comment[es]=Transferir archivos vía P2P
Comment[fr]=Transfert de fichiers de pair à pair
Comment[hu]=Partnerek közötti adatátvitel
Comment[it]=Trasferisce file Peer to Peer
Comment[nl]=Bestanden overdragen via 'peer to peer'
Comment[pt_BR]=Transfere arquivos via Peer to Peer
Comment[ru]=Передавать файлы между узлами
Comment[sv]=Överför filer via "Peer to Peer"
Comment[tr]=Dosyaları Eşten Eşe Aktar
Comment[zh_CN]=传送文件 Peer to Peer
Terminal=false
TryExec=transmission
Type=Application
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;
