#!en

[Desktop Entry]
#s Launcher's name :
Name=VLC media player
#s Command to launch on click :
#{Exemple : nautilus --no-desktop, gedit, etc. You can even enter a keyboard shortcut, for exemple <Alt>F1 for the Applications Menu, <Ctrl>c or <Ctrl>v to copy or paste, etc}
Exec=vlc 
#S Image's name or path :
Icon=vlc

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.328125
#E[_MainDock_;firefox;Tools;Players;System;Internet;Office;Applet;Design]  Name of the container it belongs to:
Container=Players
#b Prevent this launcher from stealing appli from taskbar ?
#{Use this option for exemple if the launcher launches a script in a terminal but you don't want it to steal normal terminal's icons from the TaskBar, or if you explicitely want to use the original icon of the TaskBar because it provides some info, for exemple Pidgin's icons represent the avatar of the contact.}
prevent inhibate=false

#s Class of the program :
#{The only reason you may want to modify this parameter is if you made this launcher by hands. If you dropped it into the dock from the menu, it is nearly sure that you shouldn't touch it. It defines the class of the program, which is useful to link the appli with its launcher.}
StartupWMClass=

Is container=false

Renderer=

Base URI=
Is mounting point=false
Version=1.0
Name[fr]=Lecteur multimédia VLC
Comment=Read, capture, broadcast your multimedia streams
Comment[fr]=Lire, capturer, diffuser vos flux multimedia
Name[sv]=Mediaspelaren VLC
Comment[sv]=Allmän uppspelare av film och musik
Name[ru]=Медиаплеер VLC
Comment[ru]=Универсальный проигрыватель видео и аудио
Terminal=false
Type=Application
Categories=AudioVideo;Player;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;application/ogg;application/x-ogg;application/x-matroska;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;image/vnd.rn-realpix;video/vnd.rn-realvideo;audio/x-pn-realaudio-plugin;application/x-extension-mp4;audio/mp4;video/mp4;video/mp4v-es;
