#!en

[Desktop Entry]
#s Launcher's name :
Name=Players

Exec=
#S Image's name or path :
Icon=play

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=3
#E[_MainDock_;Players;Tools;System;Internet;Office;Applet;Design]  Name of the container it belongs to:
Container=_MainDock_

Is container=true
#n Name of the view used for the sub-dock :/
Renderer=

Base URI=
Is mounting point=false
