#!en

[Desktop Entry]
#s Launcher's name :
Name=xChat
#s Command to launch on click :
Exec=xchat
#S Image's name or path :
Icon=xchat

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.1474609375
#E[_MainDock_;System;Internet;Design]  Name of the container it belongs to:
Container=Internet

Is container=false

Renderer=

Base URI=
Is mounting point=false
