#!fr



[Desktop Entry]
#s Nom de ce lanceur :
Name=VLC media player
#s Commande à exécuter lors du clique :
Exec=wxvlc
#S Nom ou chemin de l'image :
Icon=vlc
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=10
#E1[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Is URI=false
Is mounting point=false
Encoding=UTF-8
Version=0.9.2
Name[fr]=VLC
Comment=Universal movies and music player
Comment[fr]=Lecteur universel pour films et musique
Terminal=false
Type=Application
Categories=Application;AudioVideo;Player;
MimeType=video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;application/ogg;application/x-ogg;application/x-matroska;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-scpls;audio/x-m4a;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;application/x-matroska;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;image/vnd.rn-realpix;video/vnd.rn-realvideo;audio/x-pn-realaudio-plugin;
