#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=Pidgin
#s Commande à exécuter lors du clique :
Exec=pidgin
#S Nom ou chemin de l'image :
Icon=pidgin
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=9
#E1[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Is URI=false
Is mounting point=false
