#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=data
#s Commande à exécuter lors du clique :
Exec=file:///media/data
#S Nom ou chemin de l'image :
Icon=gnome-fs-directory
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=0.125
#E[] Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false
#s Si oui, nom de la vue à utiliser pour son sous-dock :
Renderer=

Base URI=file:///media/data
Is mounting point=false
