#!
[Desktop Entry]
#s Launcher's name :
Name=music et video
#s Exec command :
Exec=
#s Image's name or path :
Icon=mv.svg
#f Order you want for this launcher among the other launchers :
Order=4
#s Name of the container it belongs to:
Container=_MainDock_
#b Is this icon a container ?
Is container=true
