#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=Serpentine Audio CD Creator
#s Commande à exécuter lors du clique :
Exec=serpentine -o 
#S Nom ou chemin de l'image :
Icon=rhythmbox.svg
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=0.96585254669189413
#E[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false
#R[Caroussel;/usr/share/cairo-dock/plug-in/rendering/readme-caroussel-view;3D plane;/usr/share/cairo-dock/plug-in/rendering/readme-3D-plane-view;default;/usr/share/cairo-dock/readme-basic-view]  Si oui, nom de la vue à utiliser pour son sous-dock :/
Renderer=Caroussel

Base URI=
Is mounting point=false
Version=1.0
Encoding=UTF-8
Comment=Create audio CDs from music files and playlists
Type=Application
Terminal=false
Categories=GNOME;GTK;AudioVideo;DiscBurning;
MimeType=audio/x-scpls;audio/x-mpegurl;
StartupNotify=true
Is URI=false
