#!
[Desktop Entry]
#s launcher's name:
Name=Courrier
#s Exec command:
Exec=mozilla-thunderbird
#s image's name or path:
Icon=thunderbird.svg
#f Order you want for this launcher among the other launchers:
Order=3
#s Name of the container it belongs to:
Container = Web
#b Is this icon a container ?
Is container = false
