#!en
#
[Desktop Entry]
Encoding=UTF-8
#s Launcher's name :
Name=aMule
Comment=aMule
#s Command to launch on click :
Exec=amule
#S Image's name or path :
Icon=amule
Terminal=false
Type=Application
Categories=Application;Network;
#f Order you want for this launcher among the others:
Order=-1.25
#E[] Name of the container it belongs to:
Container=_MainDock_
Is container=false
Is URI=false
