#!fr


[Desktop Entry]
#s Nom de ce lanceur :
Name=Grisbi
#s Commande à exécuter lors du clique :
Exec=grisbi
#S Nom ou chemin de l'image :
Icon=grisbi.png
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=11
#E[_MainDock_;_V.F.S._]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
