#!en
#
[Desktop Entry]
#s Launcher's name :
Name=FileZilla
GenericName=FTP and SFTP client
Comment=Download and upload files via ftp, sftp and ftps
Comment[fr]=Transférer des fichiers via ftp, sftp et ftps
#s Command to launch on click :
Exec=filezilla
Terminal=false
#S Image's name or path :
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0
#f Order you want for this launcher among the others:
Order=7
#E[] Name of the container it belongs to:
Container=_MainDock_
Is container=false
Is URI=false
