#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=eMule
#s Commande à exécuter lors du clique :
Exec=emule
#S Nom ou chemin de l'image :
Icon=emule.svg
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=1
#E[_MainDock_;download]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
Is URI=false
Version=1.0
Encoding=UTF-8
Info=eMule
Categories=Network
Comment=eMule is a peer-to-peer file sharing application
Terminal=false
Type=Application
StartupNotify=true
GenericName[fr_FR]=eMule
Comment[fr_FR]=eMule est une application de partage de fichier en pair-a-pair
