#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=FileZilla
#s Commande à exécuter lors du clique :
Exec=filezilla
#S Nom ou chemin de l'image :
Icon=filezilla
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=0
#E[_MainDock_;xchat;download]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
GenericName=FTP and SFTP client
Comment=Download and upload files via ftp, sftp and ftps
Comment[fr]=Transférer des fichiers via ftp, sftp et ftps
Terminal=false
Type=Application
Categories=Network;FileTransfer;
Version=1.0
Is URI=false
