#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=download
#s Commande à exécuter lors du clique :
Exec=file://~/download
#S Nom ou chemin de l'image :
Icon=download-folder.svg
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=7
#E[_MainDock_;download]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=true

Base URI=file://~/download
Is mounting point=false
