#!

[Desktop Entry]
#s Launcher's name :
Name=Beryl Settings Manager
#s Exec command :
Exec=beryl-settings
#s Image's name or path :
Icon=beryl-settings
#f Order you want for this launcher among the other launchers :
Order=2
#s Name of the container it belongs to:
Container=System
#b Is this icon a container ?
Is container=false
