#!en

[Desktop Entry]
#s Launcher's name :
Name=Graphics

Exec=
#S Image's name or path :
Icon=graphics

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.3638916015625
#E[_MainDock_;Shortcuts;Weather;Graphics]  Name of the container it belongs to:
Container=_MainDock_

Is container=true
#n Name of the view used for the sub-dock :/
Renderer=3D plane

Base URI=
Is mounting point=false
