#!en

[Desktop Entry]
#s Launcher's name :
Name=System Monitor
#s Command to launch on click :
Exec=utilities-system-monitor
#S Image's name or path :
Icon=utilities-system-monitor

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=1
#E[_MainDock_;system]  Name of the container it belongs to:
Container=System

Is container=false

Renderer=

Base URI=
Is mounting point=false
