#!en

[Desktop Entry]
#s Launcher's name :
Name=Gnome System Monitor
#s Command to launch on click :
Exec=gnome-system-monitor
#S Image's name or path :
Icon=gnome-system-monitor

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.5
#E[_MainDock_;System;Design]  Name of the container it belongs to:
Container=System

Is container=false

Renderer=

Base URI=
Is mounting point=false
