#!en

[Desktop Entry]
#s Launcher's name :
Name=FileZilla
#s Command to launch on click :
Exec=filezilla
#S Image's name or path :
Icon=filezilla

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.232421875
#E[_MainDock_;System;Internet;Design]  Name of the container it belongs to:
Container=Internet

Is container=false

Renderer=

Base URI=
Is mounting point=false
