#!en

[Desktop Entry]
#s Launcher's name :
Name=Rhythmbox
#s Command to launch on click :
Exec=rhythmbox
#S Image's name or path :
Icon=rhythmbox

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=1.5625
#E[_MainDock_;Players;Tools;System;Internet;Office;Design]  Name of the container it belongs to:
Container=Players

Is container=false

Renderer=

Base URI=
Is mounting point=false
