#!en

[Desktop Entry]
#s Launcher's name :
Name=Epiphany
#s Command to launch on click :
Exec=epiphany
#S Image's name or path :
Icon=epiphany

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=0.1796875
#E[_MainDock_;System;Players;Internet;Design]  Name of the container it belongs to:
Container=Internet

Is container=false

Renderer=

Base URI=
Is mounting point=false
