#!en

[Desktop Entry]
#s Launcher's name :
Name=Xmms
#s Command to launch on click :
Exec=xmms
#S Image's name or path :
Icon=xmms

#X[Extra parameters]
frame_extra=
#f Order you want for this launcher among the others:
Order=1.3125
#E[_MainDock_;System;Players;Internet;Design]  Name of the container it belongs to:
Container=Players

Is container=false

Renderer=

Base URI=
Is mounting point=false
