#!fr



[Desktop Entry]
#s Nom de ce lanceur :
Name=OOo
#s Commande à exécuter lors du clique :
Exec=
#S Nom ou chemin de l'image :
Icon=ooo.svg
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=3
#E[music et video;_MainDock_;OOo;Internet]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=true

Base URI=
Is mounting point=false
