#!
[Desktop Entry]
#s Launcher's name :
Name=Thunderbird Mail
Comment=Read and write your email
#s Exec command :
Exec=mozilla-thunderbird
Terminal=false
StartupWMClass=mozilla-thunderbird-bin
StartupNotify=true
MultipleArgs=false
Type=Application
#s Image's name or path :
Icon=mozilla-thunderbird.svg
Categories=Application;Network
Name[cs]=Poštovní klient Thunderbird
Name[ca]=Client de correu Thunderbird
Name[pl]=Klient poczty Thunderbird
Name[pt_BR]=Cliente de E-mail Thunderbird
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[de]=Emails lesen und verfassen
Comment[fr]=Lire et écrire votre mél
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
#f Order you want for this launcher among the other launchers :
Order=2
#s Name of the container it belongs to:
Container=Internet
#b Is this icon a container ?
Is container=false
