#!fr


[Desktop Entry]
#s Nom de ce lanceur :
Name=Transmission
#s Commande à exécuter lors du clique :
Exec=transmission-gtk 
#S Nom ou chemin de l'image :
Icon=torrent.svg
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=5
#E[music et video;_MainDock_;OOo;Internet]  Nom du container auquel il appartient :
Container=Internet
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
Encoding=UTF-8
Version=1.0
Type=Application
Comment=A free, lightweight BitTorrent client with a simple, intuitive interface
Comment[bg]=Свободен, лек BitTorrent клиент с прост, интуитивен интерфейс
Comment[es]=Un cliente libre, ligero de BitTorrent con una interfaz simple e intuitiva
Comment[fi]=Ilmainen, kevytkäyttöinen BitTorrent ohjelma jossa on helppokäyttöinen käyttöliittymä
Comment[fr]=Un client BitTorrent léger, libre, avec une interface simple et intuitive
Comment[it]=Un client BitTorrent libero e leggero con un'interfaccia semplice ed intuitiva
Comment[pl]=Darmowy, lekki klient BitTorrent z prostym, intuicyjnym interfejscem
Comment[ro]=Un client BitTorrent liber, neîncărcat, cu o interfaţă simplă şi intuitivă
Comment[ru]=Свободный, легковесный BitTorrent клиент с простым, интуитивным интерфейсом
Comment[sv]=En fri, lättviktig BitTorrent-klient med ett enkelt och intuitivt gränssnitt
TryExec=transmission-gtk
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;
